html {
  height: 100%;
}

body{
  background: linear-gradient(to bottom, #e0eafc, #cfdef3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

p{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12pt;
}

.button {
    background-color: #429FFD;
    border: none;
    color: white;
    padding: 7pt 16pt;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12pt;
    margin-bottom: 20pt;
}

#name-title{
  text-align: center;
  margin-top: 80pt;
  margin-left: auto;
  margin-right: auto;
  font-size: 50pt;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;

}

#title-caption{
  text-align: center;
  margin-top: 10pt;
  margin-left: auto;
  margin-right: auto;
  font-size: 15pt;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;

}

.box{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20pt;
  margin-bottom: 30pt;
  padding: 4pt;
  height: 50pt;
  width: 320pt;
}

.social-box{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50pt;
  margin-bottom: 20pt;
  padding: 4pt;
  height: 50pt;
  width: 320pt;
}

#img-linkedin{
  height: 50px;
  width: 50px;
  margin-left: 2pt;
  margin-right: 2pt;
}

#img-instagram{
  height: 45px;
  width: 45px;
  margin-left: 2pt;
  margin-right: 2pt;
}

#img-github{
  height: 50px;
  width: 50px;
  margin-left: 1.6pt;
  margin-right: 1.4pt;
}

#img-email{
  height: 47px;
  width: 47px;
  margin-left: -.5pt;
  margin-right: 2pt;
}

#img-facebook{
  height: 37px;
  width: 37px;
  margin-left: 2pt;
  margin-right: 2pt;
}

#img-px{
  height: 43px;
  width: 43px;
  margin-left: 2pt;
  margin-right: 2pt;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

#img-education-work-resume{
  height: 40px;
  width: 40px;
  margin-bottom: 2pt;


@media all screen and (max-width: 414px) and (min-width: 320px){
  #name-title{
    font-size: 3.3em;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 50%
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat', sans-serif;
  }
}
